@tailwind base;

body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2;
  @apply mt-3;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
a {
  @apply text-primary-500;
}

a:hover {
  @apply text-secondary-900;
}

.active {
  @apply text-accent-500;
}

section ol li {
  @apply pl-1;
  @apply pb-1;
}

section ul li {
  list-style: circle;
  @apply ml-4 mb-4;
}

p {
  @apply mb-4;
}

blockquote {
  @apply mt-8 mb-10 mx-auto border-l-4 pl-4 border-secondary-700 text-2xl mb-4 text-gray-700 w-full ;
}



@screen lg {
  blockquote {
   @apply mt-10 mb-12 w-9/12 text-3xl;
  }
}

cite {
  @apply block text-lg text-secondary-700 font-normal;
}

.lead {
  @apply text-xl;
}

.container {
  @apply px-4;
  @apply w-8/12;
}

@screen lg {
  .container {
    @apply px-2;
  }
}

@tailwind components;

/** Buttons **/
.btn {
  @apply inline-block py-3 px-6 mt-4 rounded shadow leading-none;
}

@screen lg {
  .btn {
    @apply mt-0;
  }
}

/** Navigation **/
.navLinks {
  height: 0;
  overflow: hidden;
}

@screen lg {
  .navLinks {
    height: auto;
  }
}

.showNav {
  height: 220px;
}

/** Show **/

.btn-hollow {
  background: none;
  @apply text-primary-500 border-solid border-2 border-primary-500 shadow-none;
}

.btn-hollow:hover {
  @apply bg-secondary-900 text-white border-primary-900;
}

.btn-primary {
  @apply bg-primary-500 text-white;
}

.btn-primary:hover {
  @apply bg-secondary-900 text-white;
}

.btn-secondary {
  @apply bg-secondary-500 text-white;
}

.btn-secondary:hover {
  @apply bg-secondary-900 text-white;
}

.btn-primary-active {
  @apply bg-accent-500 text-white;
}

.thumbnail {
  @apply p-1 border-solid border-2 border-gray-200;
}

/** Responsive Table **/


/* Widths
================================== */
.treatment-cell  { @apply w-8/12 text-left; }
.time-cell  { @apply w-2/12 text-right; }
.price-cell  { @apply w-2/12 text-right; }

/* Apply styles
================================== */
.Rtable {
  @apply flex flex-wrap p-0 text-left;
}

.Rtable-row--head > .Rtable-cell{
    font-weight:700;
  }

.Rtable-row {
  @apply w-full flex bg-white;
}
  
.Rtable-row.is-striped {
@apply bg-secondary-100;
}
    
.title-cell {
  @apply hidden;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0.625em 1.25em;
  overflow: hidden; 
  list-style: none;
  font-size: 1em;
  margin-bottom:1px;
}

.Rtable-cell.column-heading {
    @apply p-4 font-bold bg-secondary-700 text-white;
  }
  
  .Rtable-cell--heading {
    @apply hidden;
  }


/* Responsive
==================================== */
@media all and (max-width: 640px) {

  .Rtable--collapse  {
    @apply block w-full rounded;
  }

  .Rtable-row {
    @apply flex-wrap flex w-full mb-5;
  }

  .Rtable-row.Rtable-row--head {
    @apply hidden;
  }

  .Rtable-cell {
    @apply align-middle flex w-full;
  }

  .Rtable-cell.title-cell {
    @apply text-left w-full font-black;
  }

  .Rtable-cell.title-content {
    @apply flex py-2 justify-between;
  }

  .Rtable-cell--heading {
    max-width: 120px;
    min-width: 120px;
    @apply inline-block flex mr-8 font-bold;
  }

  .Rtable-cell--content {
    @apply flex;
  }
  
}

/** Zoom hack **/
input[type='text'],
input[type='email'],
textarea {
  font-size: 16px;
}

/** Utilities **/

.section-spacer {
  @apply py-8;
}

/** Dialog **/

.dialog {
  background: white;
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@tailwind utilities;


